<div fxLayout="row wrap" class="count-down primary-color">
  <div fxFlex="100" fxFlex.gt-xs="25">
      <span class="mx-2">{{'COUNTDOWN.DAYS' | translate}}</span>
      <p #days></p>
  </div>
  <div fxFlex="100" fxFlex.gt-xs="25">
      <span class="mx-2">{{'COUNTDOWN.HOURS' | translate}}</span>
      <p #hours></p>
  </div>
  <div fxFlex="100" fxFlex.gt-xs="25">
      <span class="mx-2">{{'COUNTDOWN.MIN' | translate}}</span>
      <p #minutes></p>
  </div>
  <div fxFlex="100" fxFlex.gt-xs="25">
      <span class="mx-2">{{'COUNTDOWN.SEC' | translate}}</span>
      <p #seconds></p>
  </div>
</div>
