/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "app/theme/styles/spinner";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~swiper/swiper-bundle.min.css';
// @import '~snazzy-info-window/dist/snazzy-info-window.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/theme";
@import "app/theme/styles/rtl";

.mat-mdc-snack-bar-container {
  &.success {
    --mdc-snackbar-container-color: #21f35d;
    --mat-mdc-snack-bar-button-color: #2a1717;
    --mdc-snackbar-supporting-text-color: #2a1717;
  }
  &.errror {
    --mdc-snackbar-container-color: rgb(176, 0, 0);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
// ::ng-deep ngx-mat-datepicker-content {
//   background: white !important;
// }
ngx-mat-datepicker-content {
  box-shadow: 0px 0px 10.5px rgba(0, 0, 0, 0.3);
  background: white !important;
}
.sm-text {
  font-size: x-small;
}
.red-color-i {
  color: red !important;
}

.w-90 {
  width: 90% !important;
}

.w-fit-content {
  width: fit-content !important;
}

.font-size-24 {
  font-size: 24px;
}

mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-radius: 4px;
}

mat-card-header mat-card-title {
  margin-bottom: 12px !important;
}

.item-status {
  user-select: none;
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  span {
      padding: 3px 6px;
      margin: 4px;
      font-size: 12px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 4px;
  }
}

.blod {
  font-weight: bold;
}
